{{ define "main" }}

{{ partial "navigation.html" . }}

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 text-center">
	<div class="row">
	  <div class="col-sm-6 text-left">
          <h1>{{ .Title | markdownify }}</h1>
          <ul class="list-inline mb-50">
            {{ if .Params.Author }}
	    <li class="list-inline-item"><a href="{{ `author/` | relLangURL }}{{ .Params.Author | urlize }}">{{ .Params.Author }}</a></li>
	    {{end}}
	    {{ if .Params.Date }}
            <li class="list-inline-item">{{ dateFormat "Monday, Jan 2, 2006" .Date }}</li>
	    {{end}}
	    {{ if .Params.Description }}
	    <p>{{ .Description | markdownify }}</p>
	    {{end}}
          </ul>
	</div>
	<div class="col-sm-6">
	  {{ if .Params.Image }}
          <img class="img-fluid mb-50" src="{{ .Params.Image | absURL }}" alt="blog-image">
	  {{end}}
	</div>
	</div>
      </div>
      <div class="col-lg-8 offset-lg-2">
        <div class="post-single-content">
          {{ .Content }}
        </div>
        {{ if .Site.Params.post_share }}
        {{ partial "post-share.html" . }}
        {{ end }}
        <!-- comments -->
        <div class="mt-5">
          {{ template "_internal/disqus.html" . }}
        </div>
      </div>
    </div>
  </div>
</section>

{{ end }}
