{{ $data := index .Site.Data .Site.Language.Lang }}

{{ if $data.about.about.enable }}
{{ with $data.about.about }}
{{"<!-- Start About Section -->" | safeHTML}}
<section class="bg-one about section" id="about">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12">
	{{"<!-- section title -->" | safeHTML}}
	<div class="title text-center wow fadeIn" data-wow-duration="1500ms">
	  <h2> {{ with .title }} {{ index (split . " ") 0 }} {{ end }}<span class="color">
	      {{ with .title }} {{ index (split . " ") 1 }} {{ end }} </span></h2>
	  <div class="border-meghna"></div>
	</div>
      </div>
      {{"<!-- /section title -->" | safeHTML}}

      {{"<!-- About blurb -->" | safeHTML}}
      <!--<div class="about-info-box">-->
	<div class="about-info col-lg-6 wow fadeInUp" data-wow-duration="500ms">
	  <h3>{{ .subtitle | markdownify }}</h3>
	  <p> {{ .subblurb | markdownify }} </p>
	</div>
	<div class="about-info col-lg-6 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
	  <img class="img-fluid-circle lozad" data-src="{{ .image_webp | absURL }}" onerror="this.onerror=null;this.src='{{ .image | absURL }}'" alt="{{ .name }}">
	</div>
	<div class="about-info col-lg-12 wow fadeInUp" data-wow-duration="500ms">
	  <p> {{ .content | markdownify }} </p>
	</div>
	
      <!--</div>-->
      {{"<!-- /About blurb -->" | safeHTML}}
			
      {{ range .about_item }}
      {{"<!-- About item -->" | safeHTML}}

      <div class="col-lg-4 text-center wow fadeInUp" data-wow-duration="500ms">
	<a href="{{ .link | safeURL }}">
	<div class="block">
	  <img id="imgDino" class="img-fluid lozad" data-src="{{ .image_webp | absURL }}" onerror="this.onerror=null;this.src='{{ .image | absURL }}'" alt="{{ .name }}">
	  <script>
	    $(function() {
		$("#imgDino").hover(
		    function() {
			$(this).attr("data-src", "this.onerror=null;this.src='{{ .image | absURL }}'");
		    },
		    function() {
			$(this).attr("data-src", "this.onerror=null;this.src='{{ .imagestatic | absURL }}'");
		    }                         
		);                  
	    });
	  </script>

	  {{"<!-- Express About Yourself -->" | safeHTML}}
	  <div class="content text-center">
	    <h3>{{ .title }}</h3>
<!--
	    <h3>
	      {{ if or (eq .link "#") (eq .link "") }}
	      {{ .title }}
	      {{ else }}
	      <a href="{{ .link | safeURL }}">{{ .title }}</a>
	      {{ end }}
	    </h3>
-->	   
	    <p>{{ .content | markdownify }}</p>
	  </div>
	</div></a>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{"<!-- /about -->" | safeHTML}}
{{ end }}
{{ end }}
