{{ $data := index .Site.Data .Site.Language.Lang }}

{{ if $data.activity.activity.enable }}
{{ with $data.activity.activity }}
{{"<!-- Start Activity Section -->" | safeHTML}}
<section class="bg-one activity section" id="activity">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12">
	{{"<!-- section title -->" | safeHTML}}
	<div class="title text-center wow fadeIn" data-wow-duration="1500ms">
	  <h2> {{ with .title }} {{ index (split . " ") 0 }} {{ end }}<span class="color">
	      {{ with .title }} {{ index (split . " ") 1 }} {{ end }} </span></h2>
	  <div class="border-meghna"></div>
	</div>
      </div>
      {{"<!-- /section title -->" | safeHTML}}
      
      {{"<!-- Activity blurb -->" | safeHTML}}
      <!--<div class="activity-info-box">-->
      <div class="activity-info col-lg-12 wow fadeInUp" data-wow-duration="500ms">
	  <h3>{{ .subtitle | markdownify }}</h3>
	  <p> {{ .content | markdownify }} </p>
      </div>
	
      <div class="activity-info col-lg-3 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
	  <img class="img-fluid-circle lozad" data-src="{{ .image_webp | absURL }}" onerror="this.onerror=null;this.src='{{ .image | absURL }}'" alt="{{ .name }}">
      </div>
	<!--</div>-->
      {{"<!-- /Activity blurb -->" | safeHTML}}
      </div>
  </div>

  
  
  {{ range .activity_group }}
  {{"<!-- Activity group hero banner -->" | safeHTML}}
  {{ if .enable }}
  
  <!--<div class="row justify-content-center">-->
    <span id="{{ .anchor  }}">	  
      {{ if .link }}<a href="{{ .link }}">{{end}}
	<section class="hero-area" style='background-image: url("{{ .bg_image_webp | absURL }}")'>
	  
	  <!-- this image is for trigger this section fallback background image -->
	  <img style="display: none;" onerror="this.onerror=null;this.parentElement.style.backgroundImage= 'url({{ .bg_image | absURL }})'" src="{{ .bg_image_webp | absURL }}" />
	  <div class="hero-block">
	    {{ if .icon }}
	    <div class="button">
	      <i class="{{ .icon }}"></i>
	    </div>
	    {{ end }}
	    
	    {{ if .link }}<a href="{{ .link }}">{{end}}
	      <h1>{{ .title | markdownify }}</h1>
	      
	      
	      <p>{{ .content | markdownify }}</p>
	      {{ if .link }}</a>{{end}}
	    {{ if .image_text }}
 	    <div class="img-text">{{ .image_text }}</div>
	    {{ end }}
	    
	    {{ if .button.enable }}
	    {{ with .button }}
	    <a href="{{ .link }}" class="btn btn-transparent page-scroll">{{ .label }}</a>
	    {{ end }}
	    {{ end }}
	  </div>
	</section>
	
    </span>
  <!--</div>-->
  {{end}}
  {{"<!-- /Activity group hero banner -->" | safeHTML}}      
  
  <div class="container">
    <div class="row justify-content-center">
      {{ range .activity_item }}
      {{"<!-- Activity item -->" | safeHTML}}
      
      
      <div class="col-lg-3 text-center wow fadeInUp" data-wow-duration="500ms" id="{{ .title }}">
	{{ if .link }}<a href="{{ .link }}">{{end}}
	  <div class="block">
	    <img class="img-fluid lozad" data-src="{{ .image_webp | absURL }}" onerror="this.onerror=null;this.src='{{ .image | absURL }}'" alt="{{ .name }}">				      <!--<div class="img-box">
																								  {{with .img}}<i class="{{ . }}"></i>{{ end }}
																								  </div>-->
	    {{"<!-- Express Activity Yourself -->" | safeHTML}}
	    <div class="content text-center">
	      <h3>{{ .title | markdownify }}</h3>
	      <p>{{ .content | markdownify }}</p>
	    </div>
	  </div>
	  {{ if .link }}</a>{{end}}
      </div>
      
      {{ end }}
    </div>
  </div>
  {{ end }}
</section>
{{"<!-- /activity -->" | safeHTML}}
{{ end }}
{{ end }}
