{{ $data := index .Site.Data .Site.Language.Lang }}

{{ if $data.cv.cv.enable }}
{{ with $data.cv.cv }}
{{"<!-- cv -->" | safeHTML}}
<section class="cv section section-bg cv" id="cv">
  <div class="container pb-5">
    <div class="row">
      
      <div class="col-lg-12">
	{{"<!-- section title -->" | safeHTML}}
	<div class="title text-center wow fadeIn" data-wow-duration="500ms">
	  <h2>{{ with .title }} {{ index (split . " ") 0 }} {{ end }}<span class="color">
	      {{ with .title }} {{ index (split . " ") 1 }} {{ end }}</span></h2>
	  <div class="border-meghna"></div>
	</div>
      </div>
      {{"<!-- /section title -->" | safeHTML}}
      

      <div class="col-lg-12">
	<div class="content-block">
	  <p>{{ .startcontent | markdownify }}</p>
	  <div class="row">

	    <div class="col-lg-3">
	      {{ range .responsibility_item }}
	      <div class="media">
		{{with .icon}}
		<div class="align-self-start mr-3">
		  <i class="{{ . }}"></i>
		</div>
		{{ end }}
		<div class="media-body-responsibility">
		  <h4 class="media-heading">{{ .title | markdownify }}</h4>
		  <p>{{ .content | markdownify }}</p>
		</div>
	      </div>
	    {{ end }}
	    </div>
	    
	    <div class="col-lg-3">
	    {{ range .employment_item }}
	    <div class="media">
	      {{with .icon}}
		<div class="align-self-start mr-3">
		  <i class="{{ . }}"></i>
		</div>
		{{ end }}
		<div class="media-body">
		  <h4 class="media-heading">{{ .title | markdownify }}</h4>
		  <p>{{ .content | markdownify }}</p>
		</div>
	      </div>
	    {{ end }}
	    </div>

	    <div class="col-lg-3">
	      {{ range .education_item }}
	      <div class="media">
		{{with .icon}}
		<div class="align-self-start mr-3">
		  <i class="{{ . }}"></i>
		</div>
		{{ end }}
		<div class="media-body">
		  <h4 class="media-heading">{{ .title | markdownify }}</h4>
		  <p>{{ .content | markdownify }}</p>
		</div>
	      </div>
	    {{ end }}
	    </div>

	    <div class="col-lg-3">
	      {{ range .award_item }}
	      <div class="media">
		{{with .icon}}
		<div class="align-self-start mr-3">
		  <i class="{{ . }}"></i>
		</div>
		{{ end }}
		<div class="media-body-award">
		  <h4 class="media-heading">{{ .title | markdownify }}</h4>
		  <p>{{ .content | markdownify }}</p>
		</div>
	      </div>
	    {{ end }}
	    </div>

	  </div>
	</div>
	<div class="end-content-block">
	  <p>{{ .endcontent | markdownify }}</p>
	</div>
      </div>
    </div>
  </div>
</section>
{{"<!-- /cv -->" | safeHTML}}
{{ end }}
{{ end }}
