{{ $data := index .Site.Data .Site.Language.Lang }}

{{ if $data.seminars.seminars.enable }}
{{ with $data.seminars.seminars }}
{{"<!-- Seminars Section -->" | safeHTML}}
<section class="portfolio section" id="seminars">
	<div class="container">
		<div class="row ">
			<div class="col-xl-12">
				{{"<!-- section title -->" | safeHTML}}
				<div class="title text-center">
					<h2>{{ with .title }} {{ index (split . " ") 0 }} {{ end }}<span class="color">
							{{ with .title }} {{ index (split . " ") 1 }} {{ end }}</span></h2>
					<div class="border-meghna"></div>
				</div>
				{{"<!-- /section title -->" | safeHTML}}
			</div>
		</div>
		      {{"<!-- Portfolio blurb -->" | safeHTML}}

		<div class="portfolio-info col-lg-12 wow fadeInUp" data-wow-duration="500ms">
		  <!--<h3>{{ .subtitle | markdownify }}</h3>-->
		    <p> {{ .content | markdownify }} </p>
		  </div>
		  {{"<!-- /Portfolio blurb -->" | safeHTML}}
		  

		
		<div class="row">
			<div class="col-lg-12">
				<div class="btn-group portfolio-filter btn-group-toggle justify-content-center d-flex flex-wrap"
					data-toggle="buttons">
					<label class="btn active">
						<input type="radio" name="shuffle-filter" value="all" checked="checked" />{{ i18n "all"}}
					</label>
					{{ $categories := slice }}
					{{ range .seminar_item }}
					{{ range .categories }}
					{{ $categories = $categories | append . }}
					{{ end }}
					{{ end }}
					{{ range ( $categories | uniq ) }}
					<label class="btn">
						<input type="radio" name="shuffle-filter" value="{{ . | urlize }}" />{{ . | humanize }}
					</label>
					{{ end }}
				</div>
			</div>
		</div>

		<div class="row shuffle-wrapper justify-content-center">
			{{"<!-- portfolio item -->" | safeHTML}}
			{{ range .seminar_item }}
			<div class="col-lg-6 shuffle-item"
				data-groups="[{{range $index, $element:= .categories }}{{if ne $index 0}},{{end}}&quot;{{. | urlize}}&quot;{{ end }}]">
				<div class="portfolio-block mb-6" style="padding-top: 0%; padding-bottom: 0%; background: black;">
					<img class="img-fluid" src="{{ .image_webp | absURL }}" onerror="this.onerror=null;this.src='{{ .image | absURL }}'" alt="{{ .name }}">
					<div class="caption">
<!--						<a class="search-icon image-popup" data-effect="mfp-with-zoom" href="{{ .image | relURL }}"
							data-lightbox="image-1">
							<i class="ti-search"></i> 
</a> -->
                                            {{ if .link }}<a href="{{ .link | safeURL }}">{{ end }}
					    <h4 class="mt-3">{{ .name }}</h4>
					    <p>{{ .content | markdownify }}</p>
					    {{ if .link }}</a>{{ end }}
					</div>
				</div>
			</div>
			{{ end }}
		</div>
	</div>
</section>
{{"<!-- /Portfolio -->" | safeHTML}}
{{ end }}
{{ end }}
