{{ $data := index .Site.Data .Site.Language.Lang }}

{{ if $data.skills.skills.enable }}
{{ with $data.skills.skills }}
{{"<!-- Start Skills Section -->" | safeHTML}}
<section class="bg-one skills section" id="skills">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12">
	{{"<!-- section title -->" | safeHTML}}
	<div class="title text-center wow fadeIn" data-wow-duration="1500ms">
	  <h2> {{ with .title }} {{ index (split . " ") 0 }} {{ end }}<span class="color">
	      {{ with .title }} {{ index (split . " ") 1 }} {{ end }} </span></h2>
	  <div class="border-meghna"></div>
	</div>
      </div>
      {{"<!-- /section title -->" | safeHTML}}
      
      {{"<!-- Skills blurb -->" | safeHTML}}
      <!--<div class="skills-info-box">-->
	<div class="skills-info col-lg-12 wow fadeInUp" data-wow-duration="500ms">
	  <h3>{{ .subtitle | markdownify }}</h3>
	  <p> {{ .content | markdownify }} </p>
	</div>
	
	<!--</div>-->
      {{"<!-- /Skills blurb -->" | safeHTML}}
      
      
      {{ range .skills_item }}
      {{"<!-- Skills item -->" | safeHTML}}
      
      
      <div class="col-lg-3 text-center wow fadeInUp" data-wow-duration="500ms">
	<div class="block">
	  {{ if $data.skills.skills.enableicon }}
	  <div class="skills-icon text-center">
            <i class="{{ .icon }}"></i>
          </div>
	  {{ end }}
	  {{ if $data.skills.skills.enableimage }}
	  <img class="img-fluid lozad" data-src="{{ .image_webp | absURL }}" onerror="this.onerror=null;this.src='{{ .image | absURL }}'" alt="{{ .name }}">
	  {{ end }}
	  
	  {{"<!-- Express Skills Yourself -->" | safeHTML}}
	  <div class="content text-center">
	    <h3>{{ .title }}</h3>
	    <p>{{ .content | markdownify }}</p>
	  </div>
	</div>
	
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{"<!-- /skills -->" | safeHTML}}
{{ end }}
{{ end }}
