{{ $data := index .Site.Data .Site.Language.Lang }}

{{ if $data.talks.talks.enable }}
{{ with $data.talks.talks }}
{{"<!-- Start Our Talks -->" | safeHTML}}
<section id="talks" class="section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12">
        {{"<!-- section title -->" | safeHTML}}
        <div class="title text-center wow fadeInUp" data-wow-duration="500ms">
          <h2>{{ with .title }} {{ index (split . " ") 0 }} {{ end }}<span class="color">
              {{ with .title }} {{ index (split . " ") 1 }} {{ end }}</span></h2>
          <div class="border-meghna"></div>
        </div>
      </div>
      {{"<!-- /section title -->" | safeHTML}}

      {{ range .talks_talk}}
      {{"<!-- talks talk -->" | safeHTML}}
      <div class="col-lg-6 col-md-6 col-12 wow fadeInDown" data-wow-duration="500ms">
        <div class="talks-talk">
          <div class="talk-photo">
            {{"<!-- talk photo -->" | safeHTML}}
            <img class="img-fluid lozad" data-src="{{ .image_webp | absURL }}" onerror="this.onerror=null;this.src='{{ .image | absURL }}'" alt="{{ .name }}">

            {{"<!-- talk social profile -->" | safeHTML}}
            <div class="mask">
              <ul class="list-inline">
                {{ range .details }}
                <!--<li class="list-inline-item"><a href="{{ .link | safeURL }}"><i class="{{ .icon }}"></i></a></li>-->
		<li class="list-inline-item">{{ .detail | markdownify }}</li>
                {{ end }}
              </ul>
            </div>
          </div>

          {{"<!-- talk name & designation -->" | safeHTML}}
          <div class="talk-meta">
            <h4>{{ .name }}</h4>
            <span>{{ .designation | markdownify}}</span>
            <p>{{ .content | markdownify }}</p>
          </div>
        </div>
      </div>
      {{"<!-- end talks talk -->" | safeHTML}}
      {{ end }}
    </div>
  </div>
</section>
{{"<!-- /talks -->" | safeHTML}}
{{ end }}
{{ end }}
